<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Plugin Konfiguration</title>

        <input-field type="text">
            <name>selectedName</name>
            <label>Name des Pseudoprodukts</label>
            <defaultValue>Free Product</defaultValue>
        </input-field>
        <component name="sw-media-field">
            <name>placeholderImage</name>
            <label>Bild für Pseudoprodukt</label>
        </component>
        <component name="sw-entity-single-select">
            <name>selectedPromotion</name>
            <entity>promotion</entity>
            <label>Rabattaktion</label>
        </component>
        <component name="sw-entity-multi-id-select">
            <name>selectedProducts</name>
            <entity>product</entity>
            <label>Wählbare Gratisprodukte</label>
        </component>
    </card>

</config>
