{% block base_main_inner %}
    {% set freeProducts = page.cart.getExtension('free_product').products.elements %}
    <div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Wähle dein Gratisprodukt</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for product in freeProducts %}
                        <div class="f-prod">
                            {% sw_thumbnails 'free_product_media' with{
                                'media': product.cover.media,
                                'class': 'my-image-class',
                                'default': '50px'
                                }%}<br>
                                <a href="/detail/{{product.id}}">
                                    {{product.translated.name}}<br>
                                    {{product.productNumber}}<br>
                                </a>
                                Preis: <b>{{product.price.first.net|currency}}</b><br>
                            <div class="btn btn-primary">Hinzufügen</div>
                        </div>
                    {% endfor %}
                </div>
                {#<div class="modal-footer">#}
                    {#<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
                    {#<button type="button" class="btn btn-primary">Save changes</button>#}
                {#</div>#}
            </div>
        </div>
    </div>
<style>
.f-prod img{
    max-width:100px;
}
.f-prod{
    border:1px solid grey;
    border-radius:10px;
    padding:1rem;
}
.show{
    display:block;
}
</style>
{% endblock %}
